{% extends "base.html"%}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <form method="post" action="."> 
            {% csrf_token %} <!-- 크로스도메인을 막기 위해 form 태그 사용시 입력 필요, django에서는 안써주면 에러가 남-->
            <!-- {{form.as_p}} .as_p를 하게 되면 각 태그를 p태그로 묶어준다 -->
            <!-- {{form.as_table}} .as_table을 하게 되면 table 형식이 된다 -->
            {% for field in form %}
            <div class="form-group">
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                {% ifequal field.name 'contents' %}
                <textarea class="form-control" placeholder="{{field.label}}" name="{{field.name}}"></textarea>
                {% else %}
                <input type="{{field.field.widget.input_type}}" class="form-control" id="{{field.id_for_label}}" placeholder="{{field.label}}" name="{{field.name}}" />
                {% endifequal %}
            </div>
            {% if field.errors %} <!-- forms에서 에러가 나게되면 errors 필드에 이를 저장하게 됨 -->
            <span style="color:red;">{{field.errors}}</span>
            {% endif %}
            {% endfor %}
         
            <button type="submit" class="btn btn-primary mt-3">글쓰기</button>
            <button type="button" class="btn btn-primary mt-3" onclick="location.href='/board/list/'">돌아가기</button>
            </form>
    </div>
</div>
{% endblock%}