{% extends "base.html"%}
{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <th>#</th>
                <th>제목</th>
                <th>아이디</th>
                <th>일시</th>
            </thead>
            {{ boards }}
            <tbody class="text-dark">
                <th>1</th>
                <td>제목 테스트입니다.</td>
                <td>fcuser</td>
                <td>2019-05-01 11:16:00</td>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary">글쓰기</button>    
    </div>
</div>

{% endblock%}